<div class="row">
  <div class="col-md-6">
    <a routerLink="/" href="#" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> 回到Dashboard </a>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <div class="card-header">
    添加客户
  </div>
  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="firstName">名</label>
        <input type="text" class="form-control" [(ngModel)]="client.firstName" name="firstName" #clientFirstName="ngModel" minlength="2"
          required>
        <div *ngIf="clientFirstName.touched && clientFirstName.invalid">
          <div *ngIf="clientFirstName.errors.required" class="alert alert-danger">
            名字是必填的
          </div>
          <div *ngIf="clientFirstName.errors.minlength" class="alert alert-danger">
            名字最少是两个字
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">姓</label>
        <input type="text" class="form-control" [(ngModel)]="client.lastName" name="lastName" #clientLastName="ngModel" minlength="2"
          required>
        <div *ngIf="clientLastName.touched && clientLastName.invalid">
          <div *ngIf="clientLastName.errors.required" class="alert alert-danger">
            姓是必填的
          </div>
          <div *ngIf="clientLastName.errors.minlength" class="alert alert-danger">
            姓最少是两个字
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="client.email" name="email" #clientEmail="ngModel" required>
        <div *ngIf="clientEmail.touched && clientEmail.invalid">
          <div *ngIf="clientEmail.errors.required" class="alert alert-danger">
            Email是必填的
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">联系电话</label>
        <input type="text" class="form-control" [(ngModel)]="client.phone" name="phone" #clientPhone="ngModel" minlength="10">
        <div *ngIf="clientPhone.touched && clientPhone.invalid">
          <div *ngIf="clientPhone.errors.minlength" class="alert alert-danger">
            电话最少是10位
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="balance">余额</label>
        <input type="number" class="form-control" [(ngModel)]="client.balance" name="balance" #clientBalance="ngModel" [disabled]="disableBalanceOnAdd">
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="提交">
    </form>
  </div>
</div>
